<div>
	<%= comment.body %>
	<strong>by</strong>
	<i><%= link_to comment.user.email, comment.user %></i>
	<br />
	<% if current_user && comment.user_id == current_user.id %>
		<%= link_to 'Destroy Comment', [comment.article, comment],
			method: :delete,
			data: { confirm: 'Are you sure?' } %>
	<% end %>
</div>